{% load static %}

<div class="sort">
    <label for="{{ search_form.sort.id_for_label }}">Sort By</label>
    <select name="sort" id="{{ search_form.sort.id_for_label }}"
            data-search-target="sortSelect"
            data-action="change->search#onSortChange">
        {% for sort in search_form.sort %}
        <option value="{{ sort.data.value }}"
                {% if sort.data.selected %}selected{% endif %}
                {% if sort.data.attrs.disabled %}disabled{% endif %}
                {% if sort.data.value == "relevance" %}data-search-target="relevanceOption"{% endif %}>
            {{ sort.choice_label }}
        </option>
        {% endfor %}
    </select>
</div>